.flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 30px;
    padding-top: 10px;
    font-size: 30px;
    justify-content: center;
}

.flex>div{
    margin:30px;
    
}



@media (max-width: 800px) {
    .flex {
      flex-direction: column;
    }


  }